@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?qry0hn');
	src:url('fonts/icomoon.eot?#iefixqry0hn') format('embedded-opentype'),
		url('fonts/icomoon.ttf?qry0hn') format('truetype'),
		url('fonts/icomoon.woff?qry0hn') format('woff'),
		url('fonts/icomoon.svg?qry0hn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-antenna:before {
	content: "\e600";
}
.icon-briefcase:before {
	content: "\e601";
}
.icon-bulb:before {
	content: "\e602";
}
.icon-chart:before {
	content: "\e603";
}
.icon-chemical-glass:before {
	content: "\e604";
}
.icon-layers:before {
	content: "\e605";
}
.icon-notes:before {
	content: "\e606";
}
.icon-shield:before {
	content: "\e607";
}
.icon-tools:before {
	content: "\e608";
}
