//backgrounds
header {
  background-image: url(../img/hd-image.png);
  background-size: cover;
  padding: 0 0 240px 0;
    h1, h2, h3, h4, h5, h6, p {
    color: $white;
  }
  h1 {
    font-size: 1.3rem;
  }
}
.branding div {
  display: inline-block;
}
.logo {
  color: $secondary-color;
  padding-bottom: 200px;
  i {
    font-size: 1.3rem;
  }
}
.project {
  padding: 120px 0;
  h1, h2, h3, h4, h5, h6, p {
    color: $white;
  }
  p {
    width: 70%;
  }
}
/* large orange button that spans the entire width  */
.cta {
  background: $secondary-color;
  h3 {
    color: $white;
    margin: 0;
    padding: 55px 0;
  }
}
/* Video area */
/* container-video */

.container-video, .container-project, footer {
  background: $dark-bg;
  h1, h2, h3, h4, h5, h6, p {
    color: $white;
  }
}
.container-video {
  padding: 55px 0;
  h2 {
    font-family: $font-family-serif;
    margin: 0 0 2rem 0;
  }
}
/* Team section */
.container-the-team {
  padding: 170px 0 0px;  
}
.meet-team {
  margin-top: -60px;
}
/* footer */
footer { 
  padding: 55px 0;
  p, a {
    color: $dark-bg-font-color;
  }
  a:hover {
    color: $vapor;
  }
}
.container-our-services, .container-the-team {
  background: $vapor;
}
/* blog archives */
.blog-teasers {
  padding: 55px 0;
    h1, h4, h5, h6, p {
    color: $jumbo;
  }
  h2, h3 {
    color: $primary-color;
  }
}
[class^="row blog-archive"] {
  background-color: #F7F7F7;
  border-bottom: 1px solid #EEE;
}
.blog-archive-01 {
  h3 {
    text-transform: uppercase;
  }
  &:hover {
    background-image: url(../img/bg-archive-01.jpg);
    h1, h3, h4, h5, h6, p, .blog-pub-date, .blog-author {
    color: $white;
    }
  }
}
.blog-archive-02 {
  h3 {
    text-transform: uppercase;
  }
  &:hover {
    background-image: url(../img/bg-archive-02.jpg);
    h1, h3, h4, h5, h6, p, .blog-pub-date, .blog-author {
    color: $white;
    }
  }
}
.blog-archive-03 {
  h3 {
    text-transform: uppercase;
  }
  &:hover {
    background-image: url(../img/bg-archive-03.jpg);
    background: linear-gradient( black 0.7, black 0.7);
    h1, h3, h4, h5, h6, p, .blog-pub-date, .blog-author {
    color: $white; 
    }
  }
}
.blog-archive-04 {
  h3 {
    text-transform: uppercase;
  }
  &:hover {
    background-image: url(../img/bg-archive-04.jpg);
    h1, h3, h4, h5, h6, p, .blog-pub-date, .blog-author {
    color: $white;
    }
  }
}
.blog-author {
  text-transform: capitalize;
}

/* our works area */
.works {
  p {
    color: $jumbo;
  }
}
/* Utility classes */
.secondary {
  color: $secondary-color;
}
.read-more {
  margin: 1rem 0 -2rem;
  a {
    color: $secondary-color;
    font-size: 1.5rem;
    margin: 2rem 0 
    &:hover {
      color: darken($secondary-color, 20%);
    }
  }
}
.border-button {
  @extend button;
  border: 3px solid $white;
  background-color: $secondary-color;
}
.short-hr-light {
    width: 40px;
    border: none;
    height: 2px;
    /* Set the hr color */
    color: $white; /* old IE */
    background-color: $white; /* Modern Browsers */
}
.short-hr-dark {
    width: 40px;
    border: none;
    height: 2px;
    /* Set the hr color */
    color: $primary-color; /* old IE */
    background-color: $primary-color; /* Modern Browsers */
}
/* Utility padding */
.works {
  padding: 55px 0;
}
.services {
  padding: 140px 0 0px;
}
.service {
  .fa {
    color: $secondary-color;
  }
}

/* flex box for team and services areas */
.flex-child {
  background-color: $white;
  color: $secondary-color;
  h3 {
    color: $primary-color;
    font-size: 1.2rem;
  }
  &:hover {
    h3 {
      color: $secondary-color;
    }
  }
}

.service-icons, .members {
  transform: rotate(-45deg);
}
.service-icon, .member {
  transform: rotate(45deg);
}
/* Team Members */
[class^="flex-parent"] {
  display: flex;
  width: 494px;
  height: 162px;
  margin: 1% 0;
  justify-content: flex-end;
}
.flex-parent-02 {
  margin-left: 20%;
}
.flex-parent-03 {
  margin-left: 40%;
}
.flex-child {
  display: flex;
//   width: 32%;
  height: 100%;
  margin: 2px;
  align-items: center;
  justify-content: center;
}
.member-name, .member-position {
  display: none;
}
.members {
  .flex-child {
    background-color: transparent;
  }
}
.member {
  img {
    margin: -20px 0 0 -29px;
//     transform: rotate(45deg);
    max-width: 215px;
  }
}
.rhombus {
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
/* Media Queries */
@media #{$small-only} {
header {
  padding:  0 0 25px 0;
  background-position: center center;
}
.service-icons, .members {
  transform: none;
  padding-bottom: 30px;
}
.service-icon, .member {
  transform: none;
}
.rhombus {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.member img {
  margin: 0;
  max-width: 100%;
}
.flex-parent-02 {
  margin-left: 0;
}
.flex-parent-03 {
  margin-left: 0;
}
[class^="flex-parent"] {
  display: flex;
  width: 100%;
  height: 200px;
  margin: 1% 0;
  justify-content: space-around;
}
.flex-child {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
  h3 {
    font-size: 1.1rem;
  }
  i {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}
}
@media #{$medium-only} {
  .service-icons, .members {
  transform: none;
  padding-bottom: 30px;
}
.service-icon, .member {
  transform: none;
}
.rhombus {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.member img {
  margin: 0;
  max-width: 100%;
}
.flex-parent-02 {
  margin-left: 0;
}
.flex-parent-03 {
  margin-left: 0;
}
[class^="flex-parent"] {
  display: flex;
  width: 100%;
  height: 200px;
  margin: 86px 0;
  justify-content: space-around;
}
.flex-child {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 2%;
  align-items: center;
  justify-content: center;
}
}